[Unit]
Description=Redundancy-Maker service (disks synch)
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 <your directory where RedMaker is>/main.py
Type=exec
Restart=no
User=<YourUser>

[Install]
WantedBy=default.target